# Copy this file to `secret.env` and fill in values that match the
# DATABASE_* vars in tripbot/.env.development. The defaults from
# tripbot/infra/docker/env.docker work fine for local development.
POSTGRES_USER=tripbot_docker
POSTGRES_PASSWORD=hunter2
POSTGRES_DB=tripbot_docker
